.statsText {
    font-size: var(--spectrum-global-dimension-font-size-50);
}

.totalStats {
    font-weight: var(--spectrum-global-font-weight-bold);
}

.resultingDistributionText {
    font-size: var(--spectrum-global-dimension-font-size-50);
    line-height: var(--spectrum-global-dimension-font-size-50);
}
