.trainingSubsets {
    --training-subset: #86b3ca;
    --validation-subset: #cc94da;
    --test-subset: #8bae46;
}

.statsText {
    font-size: var(--spectrum-global-dimension-font-size-50);
}

.totalStats {
    font-weight: var(--spectrum-global-font-weight-bold);
}
