.buttonGroup {
    padding-top: var(--spectrum-global-dimension-size-300);
    border-top: var(--spectrum-global-dimension-size-10) solid var(--spectrum-global-color-gray-300);
}

.taskTypeSelectionTitle {
    color: var(--spectrum-global-color-gray-900);
    font-size: var(--spectrum-global-dimension-font-size-200);
}
