.slider {
    width: 100%;
    z-index: inherit;
    cursor: pointer;
}

.track {
    height: var(--spectrum-global-dimension-size-400);
    position: relative;

    &::before {
        content: attr(x);
        top: 50%;
        height: var(--spectrum-global-dimension-size-25);
        width: 100%;
        display: block;
        position: absolute;
        transform: translateY(-50%);
        background-color: var(--white-down);
    }
}

.lowerTrack {
    top: var(--spectrum-global-dimension-size-175);
    left: 0px;
    height: var(--spectrum-global-dimension-size-50);
    position: absolute;
    background: var(--energy-blue);
}

.thumb {
    --thumb-size: var(--spectrum-global-dimension-size-175);
    top: 33%;
    position: relative;
    width: var(--thumb-size);
    height: calc((var(--thumb-size) / 2) + 1px);
    background-color: var(--energy-blue);
    border-radius: var(--spectrum-global-dimension-size-25) var(--spectrum-global-dimension-size-25)
        var(--spectrum-global-dimension-size-10) var(--spectrum-global-dimension-size-10);

    &::before {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: calc(var(--thumb-size) / 2);
        border-left: calc(var(--thumb-size) / 2) solid transparent;
        border-right: calc(var(--thumb-size) / 2) solid transparent;
        border-top: calc(var(--thumb-size) / 2) solid var(--spectrum-global-color-gray-50);
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(var(--thumb-size) / 2);
        border-left: calc(var(--thumb-size) / 2) solid transparent;
        border-right: calc(var(--thumb-size) / 2) solid transparent;
        border-top: calc(var(--thumb-size) / 2) solid var(--energy-blue);
    }
}
