.filename {
    font-size: var(--spectrum-global-dimension-size-150);
}

.reviewed {
    background-color: var(--moss-tint-1) !important;
    color: var(--spectrum-global-color-gray-50) !important;
}

.forReview {
    background-color: var(--coral-shade-1) !important;
    color: #fff !important;
}
