.label {
    font-size: var(--spectrum-global-dimension-font-size-50);
    // equal to the height of the label container
    line-height: var(--spectrum-global-dimension-size-225);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
