.disclosureVariant {
    background-color: var(--spectrum-global-color-gray-200);

    &[class*='is-expanded'] {
        > [class*='itemContent'] {
            padding-bottom: var(--spectrum-global-dimension-size-400) !important;
            padding-left: var(--spectrum-global-dimension-size-400) !important;
        }
    }

    > [class*='itemContent'] {
        padding-bottom: 0 !important;
        padding-left: 0 !important;
    }

    [class*='itemHeader'] {
        font-weight: normal !important;
        font-size: var(--spectrum-global-dimension-font-size-200) !important;
    }
}
