.editLabelContainer {
    border: 1px solid var(--spectrum-global-color-gray-300);
    border-radius: var(--spectrum-alias-border-radius-regular);
    background-color: var(--spectrum-global-color-gray-100);
}
