.floatingContainer {
    opacity: 0;
    position: absolute;
    line-height: 0px;
    border-radius: var(--spectrum-global-dimension-size-50);

    &:empty {
        display: none;
    }
}

.leftTopElement {
    background: var(--spectrum-global-color-gray-50);
    top: var(--spectrum-global-dimension-size-50);
    left: var(--spectrum-global-dimension-size-50);
}

.rightTopElement {
    background: var(--spectrum-global-color-gray-50);
    top: var(--spectrum-global-dimension-size-50);
    right: var(--spectrum-global-dimension-size-50);
    padding: var(--spectrum-global-dimension-size-50);
}

.bottomLeftElement {
    bottom: var(--spectrum-global-dimension-size-50);
    left: var(--spectrum-global-dimension-size-50);
}

.bottomRightElement {
    bottom: var(--spectrum-global-dimension-size-50);
    right: var(--spectrum-global-dimension-size-50);
    opacity: 1;
}

div[class*='mediaItem']:is([data-hovered], [data-selected]) {
    .floatingContainer {
        opacity: 1;
    }
}

// When media actions menu is open, we don't want to hide the button that opens it
div[class*='mediaItem']:has(button[aria-label='Media actions'][aria-expanded='true']) {
    .rightTopElement {
        opacity: 1;
    }
}
