.frameStepBadge {
    box-sizing: border-box !important;
    color: var(--spectrum-global-color-gray-50);
    font-size: var(--spectrum-global-dimension-size-100);
    background-color: var(--spectrum-global-color-gray-800);
    border-radius: 50%;
}
