@use '../../shared/styles/line-clamp' as lineClamp;

.buttonsGroup {
    border-top: var(--spectrum-alias-border-size-thick) solid var(--spectrum-global-color-gray-300);
    padding: 0;
}

.manageProjectsButton {
    color: var(--spectrum-global-color-gray-900);
    padding: var(--spectrum-global-dimension-size-275) var(--spectrum-global-dimension-size-350);

    & span[class*='spectrum-ActionButton-label'] {
        text-align: start;
        margin-left: var(--spectrum-global-dimension-size-150) !important;
    }
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: 0;
        --spectrum-dialog-padding-y: 0;
    }
}

.projectName {
    @include lineClamp.clamp(3);

    text-align: start;
    font-size: var(--spectrum-global-dimension-size-150);
}

.statusTag {
    background-color: transparent !important;
    width: fit-content !important;

    span[class*='ActionButton-label'] {
        padding: 0 !important;
    }
}

.selectedProjectButton {
    padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-150);
}
