@use '../../shared/styles/line-clamp' as lineClamp;

.panelButtons {
    padding: var(--spectrum-global-dimension-size-125);
}

.addProjectButton {
    color: var(--spectrum-global-color-gray-900);

    & span[class*='spectrum-ActionButton-label'] {
        text-align: start;
        margin-left: var(--spectrum-global-dimension-size-100) !important;
    }
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: 0;
        --spectrum-dialog-padding-y: 0;
    }
}

.projectName {
    @include lineClamp.clamp(3);

    text-align: start;
    font-size: var(--spectrum-global-dimension-size-150);
}

.statusTag {
    background-color: transparent !important;
    width: fit-content !important;

    span[class*='ActionButton-label'] {
        padding: 0 !important;
    }
}

.selectedProjectButton {
    display: flex;
    justify-content: start;
    flex: 1;
}
