@use '../../../shared/styles/line-clamp' as lineClamp;

.dialog {
    background-color: var(--spectrum-gray-100);
    background-image: url('./../../../assets/background.webp');
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    path {
        fill: currentColor;
    }
}

.description {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 50rem;
    font-size: var(--spectrum-global-dimension-font-size-200);
    line-height: var(--spectrum-global-dimension-font-size-500);
    margin-bottom: var(--spectrum-global-dimension-font-size-1000);
}

.content {
    padding: var(--spectrum-global-dimension-size-500);
}

.card {
    --border-size: var(--spectrum-global-dimension-size-25);

    border: var(--border-size) solid var(--spectrum-global-color-gray-200);
    border-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--spectrum-global-color-gray-50);
    height: 100%;
    transition:
        background-color,
        border 0.2s ease-in-out;

    &:hover {
        background-color: var(--spectrum-global-color-gray-100);
        border-color: var(--energy-blue);
    }
}

.thumbnail {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.thumbnailError {
    scale: 0.5;
}

.activeCard {
    border-color: var(--energy-blue);
    background-color: var(--selection-dark-blue);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: hsl(from var(--selection-dark-blue) h s calc(l + 5));
    }

    h2 {
        color: var(--energy-blue);
    }
}

.tag {
    background-color: var(--spectrum-global-color-gray-200);
    color: var(--spectrum-global-color-gray-900);
}

.activeTag {
    color: var(--spectrum-gray-50);
    background-color: var(--energy-blue) !important;
}

.projectName {
    @include lineClamp.clamp(1);
}

.labelList {
    @include lineClamp.clamp(2);
}

.projectCreationDate {
    font-size: var(--spectrum-global-dimension-font-size-75);
}

.projectMetadata {
    line-height: var(--spectrum-global-dimension-font-size-200);
}
