.container {
    padding: var(--spectrum-global-dimension-size-50);
    padding-right: var(--spectrum-global-dimension-size-100);
    background: var(--spectrum-global-color-gray-300);
    font-size: var(--spectrum-global-dimension-font-size-75);
    margin-right: var(--spectrum-global-dimension-size-100);
    line-height: var(--spectrum-global-dimension-size-225);
    width: fit-content !important;
    border-radius: var(--spectrum-global-dimension-size-50);
}

.inUseContainer {
    background: var(--background-dark);
}

.inUseIcon,
.readyIcon {
    color: var(--energy-blue);
}

.unreachableIcon {
    color: var(--coral);
}
