.title {
    font-size: var(--spectrum-global-dimension-font-size-200);
    color: var(--spectrum-global-color-gray-900);
}

.subtitle {
    display: block;
    font-size: var(--spectrum-global-dimension-font-size-200);
    color: var(--spectrum-global-color-gray-900);
}
