.animateStroke {
    stroke-dasharray: calc(10 / var(--zoom-scale));
    stroke-dashoffset: calc(10 / var(--zoom-scale));
    animation: dash calc(40s * var(--zoom-scale)) linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
