.canvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.video {
    width: 100%;
    height: 100%;
}

.playPauseButton {
    padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-150)
        var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-100);
    border-radius: var(--spectrum-alias-border-radius-medium);
    background-color: rgba(0, 0, 0, 0.2);
}

.playButtonDisabled {
    opacity: 0.4;
    cursor: default;
}

.streamWrapper:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay {
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
}
