.reviewed,
.rejected,
.toReview {
    border-radius: var(--spectrum-global-dimension-size-200);
    padding: var(--spectrum-global-dimension-size-50) var(--spectrum-global-dimension-size-100);
}

.reviewed {
    background: var(--moss-tint-1);
    color: var(--spectrum-global-color-gray-50);
}

.rejected,
.toReview {
    background: var(--coral-shade-1);
    color: var(--spectrum-global-color-gray-50);

    svg {
        fill: #fff;
    }
}
