.formatOptions {
    color: var(--spectrum-global-color-gray-700);
    font-size: var(--spectrum-global-dimension-size-150);
}

.statusTitle {
    display: inline-flex;
    align-items: baseline;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--spectrum-global-dimension-size-150);
    gap: var(--spectrum-global-dimension-size-125);
}
