.error {
    color: var(--brand-coral-cobalt) !important;
    border: none !important;

    &[class*='is-hovered'],
    &[class*='is-active'] {
        background-color: transparent !important;
        border: none !important;
    }
}
