.track {
    position: absolute;
    height: var(--spectrum-global-dimension-size-100);
}

.trainingTrack {
    border-bottom-left-radius: var(--spectrum-global-dimension-size-50);
    border-top-left-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--training-subset);
}

.validationTrack {
    background-color: var(--validation-subset);
}

.testTrack {
    border-bottom-right-radius: var(--spectrum-global-dimension-size-50);
    border-top-right-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--test-subset);
}

.thumb {
    position: absolute;
    height: var(--spectrum-global-dimension-size-150);
    width: var(--spectrum-global-dimension-size-150);
    border-radius: 50%;
    background-color: var(--spectrum-global-color-gray-900);
    top: -2px;
    translate: -50% 0;
    cursor: pointer;
}

.trackContainer {
    position: relative;
    flex: 1;
    height: var(--spectrum-global-dimension-size-100);
}
