.mainValue {
    font-size: var(--spectrum-global-dimension-static-size-450);
}

.secondaryValue {
    font-size: var(--spectrum-global-dimension-static-size-300);
}

.subTitle {
    color: var(--spectrum-global-color-gray-800);
    font-size: var(--spectrum-global-dimension-font-size-100);
}
