.container {
    border: 1px dashed var(--spectrum-global-color-gray-700);
    padding: var(--spectrum-global-dimension-size-500) var(--spectrum-global-dimension-size-200);
    background: var(--spectrum-global-color-gray-300);
    border-radius: var(--spectrum-global-dimension-size-200);
}
