.title {
    font-weight: 500;
    font-size: var(--spectrum-global-dimension-size-350);
    display: inline-flex;
    align-items: baseline;
}

.description {
    color: var(--spectrum-global-color-gray-700);
    font-size: var(--spectrum-global-dimension-size-150);
}
